---
---

@import "{{ site.theme }}";

body {
  background-color: #000;
  color: #ffffff;
}

h1 {
  color: #ffffff;
}

header {
  font: 20px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
