<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script>
				
				document.querySelector("#dark").addEventListener(click, darkMode);
				
				function darkMode() {
					document.body.style.backgroundColor = "black";
					document.body.style.color = "white";
				}
			</script>
		</head>
		<body>
			<nav>
	    		<ul> 
				<li><a href="/">Home</a></li>
          			<li><a href="https://wsec.gitlab.io/">Cybersecurity Club</a></li>
         		        <li><a href="/blog">Blog</a></li>
				<li><a href="/ctf">CTF Resources</a></li>
	    		</ul>
				<button id = "dark" type="button>Dark Mode</button>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>

