<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.4/lib/darkmode-js.min.js"></script>
			<script>
  				new Darkmode().showWidget();
			</script>
		</head>
		<body>
			<nav>
	    		<ul> 
				<li><a href="/">Home</a></li>
          			<li><a href="https://wsec.gitlab.io/">Cybersecurity Club</a></li>
         		        <li><a href="/blog">Blog</a></li>
				<li><a href="/ctf">CTF Resources</a></li>
	    		</ul>
				
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>

